<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BreezyWindBlog</title>
    <link rel="stylesheet" href="../public/css/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="topnav ">
        <a href="../index.html">
            <h2 id="myTopnav"> Breezy Wind Blog</h2>
        </a>
    </div>

    <div class="container blog-text">
        <div class="blog_content blog_text">

            <h1> Coming Soon!</h1>
        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid" id="footer-subscribe">
            <img id="subscribe-image" src="../public/img/mailbox.svg" alt="My Happy SVG" />
            <h3>Subscribe For The Latest Updates</h3>
            <p>Subscribe to newsletter and never miss the new posts</p>
            <form class="input-subs">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter your email address" name="email">
                    <button type="submit" class="btn btn-primary" id="subscribe-btn">Subscribe</button>

                </div>

            </form>
        </div>
        <div id="footer_text">
            <p> Blog Design Made with 💚 by
                <a href="https://github.com/Ajith-Kumar-G"">Ajith Kumar G</a>
          </p>
        </div>
      </footer>
      <script src=" public/js/index.js"></script>
</body>

</html>