@import "layout.css";

body {
    background-image: url(../../public/img/dragon-scales.svg);
    background-attachment: fixed;
}

#about-section {
    grid-area: about;
    width: 100%;
    height: fit-content;
    padding: 8%;
    background-color: #0000001f;
    border-radius: 5%;
    margin: 4%;
    backdrop-filter: blur(8px);
    color: black;
    font-variant: small-caps;
}

div>a {
    color: #8dffbf;
    text-decoration: none;
    font-size: xx-large;
}


#blog-section {
    grid-area: blog;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    flex-wrap: wrap;
    row-gap: 5%;
    column-gap: 5%;
}

.about-heading {
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    text-align: justify;
}

#about-image {
    height: 35vh;
    object-fit: cover;
}


/* Cards */

.card-container {
    padding: 0 1rem;
    counter-reset: card;
    margin: 2%;
}

.card {
    margin: 1em 0;
    border-radius: 1rem;
    box-shadow: -12px 12px 24px #212121,
        12px -12px 24px #353535;
    min-height: 500px;
    display: grid;
    grid-template-rows: 1.5fr 1fr 75px;
    background-color: #0000001f;
    backdrop-filter: blur(8px);
}

.card img {
    max-inline-size: 100%;
    min-height: 100%;
    object-fit: cover;

}

.card-header {
    aspect-ratio: 16/12;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    position: relative;
}

.card-header::after {
    counter-increment: card;
    /* Increment the value of the counter by 1 */
    content: "0" counter(card);
    position: absolute;
    inset: auto 0 0 auto;
    margin-bottom: .5em;
    font-size: 6em;
    color: var(--accent);
    font-weight: 800;
    opacity: .75;

}

.card-body,
.card-footer {
    padding: 0 1rem;
}

.card-footer {
    display: grid;
    align-items: center;


}

.card h3 {
    margin: 0;
    position: relative;
}

.card-body p {
    font-weight: 200;
    font-size: 1rem;
    margin: 0;
}

.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    transform: translate(0px, -2px);
    box-shadow: 4px 5px;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
}

@media only screen and (min-width: 400px) {

    .card-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        max-width: 92%;
        margin: 2% auto;


    }

    .card h3 {
        margin: 1em 0 .25em 0;
        position: relative;
    }

    .card-header::after {
        margin-bottom: 0em;
    }

}

@media only screen and (min-width: 900px) {
    .card-container {
        max-width: 95%;
        gap: 2rem;


    }
}

/* cards end */
@media screen and (max-width: 1080px) {
    #about-section {
        margin: 0 !important;
    }

}

@media screen and (max-width: 600px) {
    #blog-section {
        align-items: center;
    }

    #about-section {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    body {
        font-size: 12px !important;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 90vh auto 20vh;
        grid-template-areas:
            "nav"
            "about"
            "blog"
            "ftr";

    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 10px !important;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh auto 20vh;
        grid-template-areas:
            "nav"
            "blog"
            "ftr";

    }
}